.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 260px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  background-color: white;
}

.profile__description {
  height: 268px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__avatar {
    display: block;

    object-fit: cover;

    border-radius: 50%;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 8px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #121212;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    color: #9e9ea1;
  }

  &__textTag::before {
    content: '@';
  }
}
